<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./template/head") %>
    <link rel="stylesheet" href="/css/articles.css"> 
</head>
<body>
    <nav class="nav">
        <div class="nav_title">
          <h1 class="nav_title_header"><a href="/">CodeNote</a></h1>
        </div>
        <div class="nav_option">
          <ul class="nav_ul">
            <li class="nav_item">
              <a href="">articles</a>
              <% if(username || userId) { %> 
                <a href="/write">write</a>
                <a href="/logout">Log Out</a>
                <a href="/user_article/<% userId %>"" class="nav_profile"><%= username[0] %> </a>
              <% } else { %>
                <a href="/login">Log In</a>
                <a href="/register">Sign Up</a>
              <% } %>  
            </li>
          </ul>
        </div>
    </nav>
    <section class="section">
        <div>
            <% datas.forEach((element)=> { %>
                <div class="articles_card">
                    <h1 class="articles_card_title"><a href="/article/<%= element.id %> "><%= element.title %></a></h1>
                    <div class="articles_card_details">
                        <p class="articles_card_date"><%= element.createdAt %> </p>  
                    </div>
                </div>
                <% }) %>  
        </div>
    </section>
    <%- include("./template/footer") %>  
</body>
</html>